body {
    font-family: "times", "arial";
}

h1 {
    color: blue;
    text-align: center;
    font-weight: bold;
    font-size: 33px;
}

h2 {
    color: blue;
    font-size: 20px;
}

#contact ul {
    color: blue;
    list-style-type: none;
    text-align: center;
}

#contact a, .email {
    font-weight: bold;
}

.tab-content a {
    color: black;
}

.tab-content ul {
    padding-left: 0;
    list-style: inside;
}

#contact ul li {
    padding-bottom: 10px;
}

#email-icon {
    float:right
}

#computer {
    height:100;
    width:200;
    float:right;
}

.additional-info {
    padding-top: 20px;
}
